<section class="about">
  <div class="about-section">
    <h1>About Us</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, illum.<br />
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum iste quasi
      molestias accusamus <br />officiis! Impedit deserunt esse sunt? Molestias,
      odio.
    </p>
  </div>

  <h2 style="text-align: center">Our Solution</h2>
<div class="wrapper">
<div class="card">
	<h3 class="card-title">CARD TITLE</h3>
		<p class="card-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe illum iste laboriosam expedita error maiores reiciendis recusandae quia facere cum similique nemo earum?</p>
		<button class="card-btn">READ MORE</button>
	</div>
	<div class="card">
		<h3 class="card-title">CARD TITLE</h3>
		<p class="card-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate voluptatum tempore, consectetur corrupti fugit nisi praesentium autem similique nemo earum?</p>
		<button class="card-btn">READ MORE</button>
	</div>
	<div class="card">
		<h3 class="card-title">CARD TITLE</h3>
		<p class="card-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eos minus dolores laboriosam natus vero, voluptates quos ipsam voluptatibus fugiat.</p>
		<button class="card-btn">READ MORE</button>
	</div>
</div>
</section>
