.navbar{
    background-color: transparent;
    padding-top:20px;
    margin-left:30px;
    margin-right:30px;
    padding-bottom:30px;
}
.navbar-brand{
    color:black;
    font-weight:900;
    font-family: 'Signika Negative', sans-serif;
    font-size:30px;
}


.navbar-nav .nav-link{
    padding-right:1.5rem;
    padding-left:0.5rem;
    color:#fff;
    font-weight: bold;
}
.navbar-nav .nav-link:hover{
    color:black;
}